@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
.App {
  font-family: "Ubuntu", sans-serif;
  max-width: 960px;
  margin: 0 auto;
}
nav {
  display: flex;
  margin: 0 auto 60px;
  gap: 10px;
  align-items: center;
}
nav h1 {
  margin-right: auto;
}
nav a {
  border: #333 1px solid;
  text-align: center;
  margin: 10px;
  color: #333;
  padding: 4px 10px;
  text-decoration: none;
}
nav a.active {
  background-color: #333;
  color: #fff;
  text-decoration: none;
}
